@charset "utf-8";
@use 'sass:math';

/*------------------------------------------------
mixins
------------------------------------------------*/
@mixin fz($font-size) {
	font-size: math.div($font-size, 10) * 1rem;
}

/*------------------------------------------------
font
------------------------------------------------*/
@font-face {
	font-family: 'Beatrice-Headline';
	font-display: swap;
	src: url(../../assets/font/BeatriceHeadline-RegularItalic.woff) format('woff');
}

@mixin font-family {
	font-family: 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', '游ゴシック', 'YuGothic', 'メイリオ',
		'Meiryo', sans-serif;
}
@mixin font-family--en {
	font-family: 'Arial', sans-serif;
}
@mixin font-family--dp {
	font-family: 'Beatrice-Headline', sans-serif;
}

@mixin txt-basic {
	@include fz(14);
	font-weight: 400;
	line-height: 1.9;
	@include media_narrow {
		@include fz(13);
	}
}

@mixin txt-basic--bold {
	@include txt-basic;
	font-weight: 600;
}

/*---------------------------------------------
color
---------------------------------------------*/
$c-white: #ffffff;
$c-offwhite: #e2e2e2;
$c-lightgray: #c9c9c9;
$c-gray: #383838;
$c-darkgray: #101010;
$c-black: #000000;
$c-orange: #ff4b12;

/*---------------------------------------------
ease
---------------------------------------------*/
$e-out: cubic-bezier(0.7, 0, 0.1, 1);
$e-inOut: cubic-bezier(0.9, 0, 0.1, 1);

/*------------------------------------------------
media
------------------------------------------------*/
@mixin media_narrow {
	@media screen and (max-width: 767px) {
		@content;
	}
}

@mixin media_wide {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin media_hover {
	@media (hover: hover) {
		@content;
	}
}
