@charset "utf-8";
@use 'sass:math';

/*------------------------------------------------
mixins
------------------------------------------------*/
@mixin fz($font-size) {
	font-size: math.div($font-size, 10) * 1rem;
}

@mixin delay($length, $delay: 0.05, $offset: 0) {
	@for $i from 1 through $length {
		&:nth-of-type(#{$i}) {
			transition-delay: #{$delay * ($i - 1) + $offset}s;
		}
	}
}

/*------------------------------------------------
font
------------------------------------------------*/
@font-face {
	font-family: 'Beatrice-Headline';
	font-display: swap;
	src: url(../../assets/font/BeatriceHeadline-RegularItalic.woff) format('woff');
}

@mixin font-family {
	font-family: 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', '游ゴシック', 'YuGothic', 'メイリオ',
		'Meiryo', sans-serif;
}
@mixin font-family--en {
	font-family: 'Arial', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', '游ゴシック', 'YuGothic', 'メイリオ', 'Meiryo',
		sans-serif;
}
@mixin font-family--dp {
	font-family: 'Beatrice-Headline', 'Arial', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', '游ゴシック', 'YuGothic',
		'メイリオ', 'Meiryo', sans-serif;
}

@mixin ttl-display {
	@include fz(128);
	line-height: 1.2;
	@include media_narrow {
		@include fz(52);
	}
}

@mixin ttl-basic {
	@include fz(72);
	font-weight: 700;
	line-height: 1.7;
	letter-spacing: 0.04em;
	@include media_narrow {
		@include fz(29);
		line-height: 2;
	}
}

@mixin txt-basic {
	@include fz(14);
	font-weight: 400;
	line-height: 1.9;
	@include media_narrow {
		@include fz(12);
	}
}

@mixin txt-basic--bold {
	@include txt-basic;
	font-weight: 700;
}

/*---------------------------------------------
color
---------------------------------------------*/
$c-white: #ffffff;
$c-offwhite: #e2e2e2;
$c-lightgray: #c9c9c9;
$c-gray: #383838;
$c-darkgray: #101010;
$c-black: #000000;
$c-orange: #ff2e12;

/*---------------------------------------------
ease
---------------------------------------------*/
$e-out: cubic-bezier(0.7, 0, 0.1, 1);
$e-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$e-out-circ: cubic-bezier(0, 0.07, 0.02, 0.83);
$e-inOut: cubic-bezier(0.9, 0, 0.1, 1);

/*------------------------------------------------
media
------------------------------------------------*/
@mixin media_narrow {
	@media screen and (max-width: 767px) {
		@content;
	}
}

@mixin media_wide {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin media_hover {
	@media (hover: hover) {
		@content;
	}
}
